.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-links{
  display: flex;
}

.sidebar {
  width: 9vh;
  height: 100vh;
  background: #2c5040;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Trebuchet MS', sans-serif;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.sidebar:hover {
  width: 250px;
}

.profilImage {
  margin: 30px auto 10px;
}

.sidebar h2 {
  font-size: 20px;
  margin: 10px auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar:hover h2 {
  opacity: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 15px;
  transition: background 0.3s ease;
  white-space: nowrap;
}

.sidebar ul li:hover {
  background: #1a3c27;
}

.nav-icon {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin-right: 0px;
  transition: margin 0.3s ease;
}

.sidebar:hover .nav-icon {
  margin-right: 30px;
}

.sidebar span {
  display: none;
  transition: opacity 0.3s ease;
}

.sidebar:hover span {
  display: inline;
  opacity: 1;
}

.disconnect {
  width: 100%;
  margin-top: auto;
  padding-bottom: 20px;
}