html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
}

.sidebar {
  width: 80px;
  height: 100vh;
  background: #2c5040;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
  top:auto;
}

.sidebar:hover {
  width: 250px;
}

.sidebar h2 {
  font-size: 20px;
  margin: 10px auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar:hover h2 {
  opacity: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 15px;
  transition: background 0.3s ease;
  white-space: nowrap;
}

.sidebar ul li:hover {
  background: #1a3c27;
}

.nav-icon {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin-right: 0px;
  transition: margin 0.3s ease;
}

.sidebar:hover .nav-icon {
  margin-right: 30px;
}

.sidebar span {
  display: none;
  transition: opacity 0.3s ease;
}

.sidebar:hover span {
  display: inline;
  opacity: 1;
}

/* Main content */
.main-content {
  margin-left: 9vh;
  padding: 20px;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
}

.disconnect{
  margin-top: 65vh;
}

/* Responsive Mobile */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .sidebar ul li {
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: white;
  }

  .nav-icon {
    margin: 0;
    width: 30px;
    height: 30px;
  }

  .sidebar h2,
  .sidebar span {
    display: none !important;
  }

  .main-content {
    margin: 0;
    padding-bottom: 80px; /* Pour éviter chevauchement par la barre */
  }

  .sidebar:hover {
    width: 100%; /* Empêche la barre de s’élargir */
  }

  .disconnect{
    margin-top: 0vh;
  }
  
}
